* {
	margin: 0;
	padding: 0;
	/*padding and border sao incluidos no width height especificado */
	box-sizing: border-box;
}

:root {
	--color-primary: #191d2b;
	--color-secondary: #27AE60;
  	--color-white: #FFFFFF;
  	--color-black: #000;
  	--color-grey0: #f8f8f8;
  	--color-grey-1: #dbe1e8;
  	--color-grey-2: #b2becd;
  	--color-grey-3: #6c7983;
  	--color-grey-4: #454e56;
  	--color-grey-5: #2a2e35;
  	--color-grey-6: #11171a;
  	--border-radius-small: 14px;
  	--box-shadow-1: 0 3px 15px rgba(0,0,0,.2);
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--color-primary);
	font-size: 1.1rem;
	color: var(--color-white);
	transition: all .4s ease-in-out;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	font-family: inherit;
}

header {
	height: 100vh;
	color: var(--color-white);
	overflow: hidden;
}

section {
	min-height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	padding: 48px 228px;
}

.section {
	/*offscreen*/
	transform: translateY(-100%) scale(0);
	transition: all .4s ease-in-out;
	background-color: var(--color-primary);
}

.sec1 {
	display: none;
	transform: translateY(0) scale(1);
}

.sec2 {
	display: none;
	transform: translateY(0) scale(1);
}

.sec3 {
	display: none;
	transform: translateY(0) scale(1);
}

.sec4 {
	display: none;
	transform: translateY(0) scale(1);
}

.sec5 {
	display: none;
	transform: translateY(0) scale(1);
}

.active {
	display: block;
	animation: scaleAnim 1s ease-in-out;
	transition: all .4s ease-in-out;
}

@keyframes scaleAnim{
	0% {
		transform: translateY(-100%) scaleY(0);
	}

	100% {
		transform: translateY(0) scaleY(1);
	}	
}

.controls {
	position: fixed;
	/*trazer para frente dos demais componentes*/
	z-index: 10;
	top: 50%;
	right: 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
}

.control {
	padding: 1rem;
	cursor: pointer;
	background-color: var(--color-grey-4);
	width: 55px;
	height: 55px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .7rem 0;
	box-shadow: var(--box-shadow-1);
}

.control i {
	font-size: 1.2rem;
	color: var(--color-grey-2);
	pointer-events: none;
}

.active-btn {
	background-color: var(--color-secondary);
	transition: all .4s ease-in-out;
}

.active-btn i {
	color: var(--color-white);
}


/*estilos especificos de cada view*/
/*header*/
.header-content {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	height: 100%;
}

.left-header {
	display: flex;
	align-items: center;
	position: relative;
}

.header-background-shape {
	position: absolute;
	left: 0;
	height: 100%;
	width: 65%;
	background-color: var(--color-secondary);
	z-index: -1;	
	clip-path: polygon(0 0, 46% 0, 79% 100%, 0 100%);
}

.header-image {
	background-color: var(--color-black);
	border-radius: var(--border-radius-small);
	height: 90%;
	width: 68%;
	margin-left: 4rem;
}

.header-image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: grayscale(100%);
}

.right-header {
	display: flex;
	flex-direction: column;
	padding-right: 18rem;
	justify-content: center;
}

.name {
	font-size: 3rem;
}

.name span{
	color: var(--color-secondary);
}

.right-header p {
	margin: 1.5rem 0;
	line-height: 2rem;
}



/*About*/
.about-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 56px 0 80px 0;
}

.about-container-left {
	padding-right: 80px;
}

.about-container-left h4 {
	font-size: 2rem;
}

.about-container-left p {
	padding: 1rem 1rem 1rem 0;
	color: var(--color-grey-1);
	line-height: 2rem;
}

.about-container-right {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 32px;
}

.about-container-right-item {
	border: 1px solid var(--color-grey-5);
	border-radius: 5px;
	box-shadow: 1px 2px 15px rgba(0, 0, 0,0.1);
	transition: all .4s ease-in-out;
	display: flex;
	flex-direction: column;
}

.about-container-right-item:hover {
	border-color: var(--color-secondary);
	transform: translateY(-5px);
	box-shadow: 1px 2px 15px rgba(0, 0, 0,0.32);
}

.about-container-right-item-info {
	padding: 24px;
}

.about-container-right-item-info h5{
	font-size: 48px;
	color: var(--color-secondary);
}

.about-container-right-item-info p {
	display: relative;
	font-size: 19.2px;
	color: var(--color-grey-1);
	padding-left: 48px;
	letter-spacing: 2px;
}

.about-container-right-item-info p::before {
	content: '';
	position: absolute;
	width: 36px;
	height: 2px;
	background-color: var(--color-grey-5);
	transform: translate(-140%, 800%);
}

.separator {
	width: 50%;
	height: 2px;
	background-color: var(--color-grey-5);
	margin: 0 auto;
}

.skill-timeline-title {
	font-size: 25px;
	padding: 56px 0;
	font-weight: 700;
	text-align: center;
}

.skills-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 32px;
	margin-bottom: 56px;
}

.skill {
	font-size: 17.6px;
	font-weight: 500;
}

.skill-gauge {
	display: flex;
	align-items: center;
	font-weight: 400;
	color: var(--color-grey-2);
}

.gauge-bar {
	width: 100%;
	height: 5px;
	margin-left: 16px;
}

.html {
	background-color: var(--color-secondary);
}

.js {
	background: linear-gradient(to right, var(--color-secondary) 50%, var(--color-grey-3) 50%);
}

.nodejs{
	background-color: var(--color-grey-3);
}

.css {
	background: linear-gradient(to right, var(--color-secondary) 70%, var(--color-grey-3) 30%);
}

.react {
	background-color: var(--color-grey-3);
}

.java {
	background: linear-gradient(to right, var(--color-secondary) 50%, var(--color-grey-3) 50%);
}

.timeline-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 32px;
	padding-bottom: 54px;
}

.timeline-item {
	padding-left: 54px;
	border-left: 1px solid var(--color-grey-5);
	position: relative;
}

.timeline-icon {
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-secondary);
	position: absolute;
	top: 0;
	left: -27px;
}

.timeline-duration {
	font-size: 14.4px;
	width: fit-content;
	padding: 4px 11px;
	border-radius: 10px;
	color: var(--color-grey-2);
	background-color: var(--color-grey-5);
}

.timeline-title {
	font-size: 23.5px;
	font-weight: 600;
	padding: 18px 0;
}

.timeline-title span{
	font-size: 23px;
	color: var(--color-grey-2);
	font-weight: 400;
}

.timeline-description {
	font-size: 20px;
	color: var(--color-grey-2);

}




/*Portfolio*/
.portfolio-intro {
	font-size: 20px;
	padding: 36px 0;
	text-align: center;
}

.portfolio-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 32px;	
}

.portfolio-item {
	transition: all .4s ease-in-out;
	position: relative;
}

.portfolio-item:hover .portfolio-hover {
    opacity: 1;
    transform: scale(1);
}

.portfolio-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.portfolio-hover {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;	
	position: absolute;	
	top: 0;
	left: 0;
	background-color: var(--color-secondary);
    opacity: 0;
    transform: scale(0);
	transition: all .4s ease-in-out;
    border-radius: 15px;
}

.portfolio-hover-title {
	font-size: 27px;
	transition: all .4s ease-in-out;
}

.portfolio-hover-icons {
	display: flex;
	gap: 30px;
	transition: all .4s ease-in-out;
}

.portfolio-hover-icon {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--color-black);
	transition: all .4s ease-in-out;
}


/* Blogs */
.blogs-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 48px;
	gap: 32px;
}

.blog-post {
	background-color: var(--color-grey-5);
	border-radius: 5px;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
	transition: all .4s ease-in-out;
}

.blog-post:hover {
	transform: translateY(-5px);
}

.blog-post:hover .blog-post-img img{
	filter: grayscale(0);
	transform: scale(1.1);
}

.blog-post-img img{
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
	filter: grayscale(100%);
	transition: all .4s ease-in-out;
}

.blog-post-text {
	padding: 17.6px;
	border-top: 8px solid var(--color-secondary);
	margin-top: -7px;
}

.blog-post-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
	transition: all .4s ease-in-out;
}

.blog-post-title:hover {
	cursor: pointer;
	color: var(--color-secondary);
}

.blog-post-description {
	color: var(--color-grey-2);
	font-size: 17.6px;
	line-height: 32px;
	margin-bottom: 15px;
}



/*Contact*/
.contact-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 56px;
	gap: 48px;
}

.contact-info-title {
	font-size: 32px;
	font-weight: 700;
	margin-top: 16px;
}

.contact-info-text {
	font-size: 17.6px;
	padding: 16px 0;
	line-height: 32px;
}

.contact-info-itens {
	list-style: none;
}

.contact-info-itens li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.contact-info-icon {
	width: 30px;
}

.contact-info-icons {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

.contact-info-icons-container {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-grey-5);
	transition: all .4s ease-in-out;
}

.contact-info-icons-container:hover {
	background-color: var(--color-secondary);
}

.contact-info-icons-container:hover i {
	color: var(--color-primary);
}

.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-form-input-small, .contact-form-input-big {
	padding: 13px 18px;
	margin-top: 20px;
	border-radius: 50px;
	background-color: var(--color-grey-5);
	border: none;
	outline: none;
	font-size: 15px;
	color: var(--color-white);
}

.contact-form-input-big {
	height: 100%;
	border-radius: 25px;
	margin-bottom: 20px;
}

.contact-form-input-big::placeholder {
	font-family: "Poppins", sans-serif;
	font-size: 16px;	
}



/*componentes comuns a todas as views*/
.cv-btn {
	border-radius: 30px;
	border: 1px solid var(--color-secondary);	
	display: flex;
	width: fit-content;
	align-items: center;
	overflow: hidden;
	color: inherit;
	transition: all .4s ease-in-out;
}

.cv-btn:hover {
	background-color: var(--color-secondary);	
}

.cv-btn-text {
	font-weight: 600;
	padding: 0 2rem;
}

.cv-btn-icon {
	background-color: var(--color-secondary);
	border-radius: 50%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-title {
	text-align: center;
}

.main-title h2 {	
	position: relative;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
}

.main-title h2 span {
	color: var(--color-secondary);
}

.background-title-text {
	position: absolute;
	display: inline;
	top: 65%;
	left: 50%;
	color: var(--color-grey-5) !important; 
	z-index: -1;
	transform: translate(-50%, -50%);
	font-size: 6.3rem;
	font-weight: 800;
	text-wrap: nowrap;
}
